body{
    height:200vh;
    width: 100vw;
}
.head{
    height:400px;
    width: 100vw;
}

.Headding{
    top: 2px;
    position: sticky;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    background-color:lightblue;
    padding: 10px;
}

.nav{
    top: 2px;
    position: sticky;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    padding: 9px;
}
.nav-button{
    /* height: 40px;*/
    width: 50px;  
    background-color: lightblue;
    padding: 4px 10px;
    text-decoration: none;
    color: black;
    transition: scale 0.2s;
}
.nav-button:hover{
    scale: 1.1;

}
.about{
    height: 200px;
    width: 100vw;
    overflow: scroll;
    overflow-x: hidden;
    font-size: 18px;
    font-weight: 100;
}





