
.Headding{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    background-color:lightblue;
    padding: 10px;
}

.nav{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    padding: 9px;
}
.nav-button{
    background-color: lightblue;
    padding: 4px 10px;
}





